<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="shopping">
    <p class="mb-2 p-1 border-bottom">Cadastrar</p>
    <section class="bg-light p-3 rounded-3">
        <form action="/shopping/add" method="POST" class="d-flex flex gap-2 gap-sm-3 flex-wrap">
            <div class="form-group col-xl-2 col-12">
                <input type="text" class="form-control" name="item" placeholder="Item">
            </div>
            <div class="form-group col-xl-2 col-12">
                <input type="text" class="form-control" name="shop" placeholder="Loja">
            </div>
            <div class="form-group col-xl-2 col-12">
                <select name="local" id="local" class="form-control">
                    <option value="Bento">Bento</option>
                    <option value="Protasio">Protasio</option>
                    <option value="Cavalhada">Cavalhada</option>
                    <option value="Azenha">Azenha</option>
                    <option value="Andradas">Andradas</option>
                    <option value="24 de Outubro">24 de Outubro</option>
                    <option value="Dr Flores">Dr Flores</option>
                    <option value="Zona Sul">Zona Sul</option>
                    <option value="Alvorda">Alvorda</option>
                    <option value="Viamão">Viamão</option>
                    <option value="Cachoeirinha">Cachoeirinha</option>
                    <option value="Gravatai Centro">Gravatai Centro</option>
                    <option value="Gravatai 67">Gravatai 67</option>
                    <option value="Canoas Centro">Canoas Centro</option>
                    <option value="Boqueirão">Boqueirão</option>
                    <option value="Mauricio Cardoso">Mauricio Cardoso</option>
                    <option value="Novo Hamburgo">Novo Hamburgo</option>
                    <option value="São Leopoldo">São Leopoldo</option>
                    <option value="Caxias Centro">Caxias Centro</option>
                    <option value="Caxias Shoppin">Caxias Shopping</option>
                    <option value="Menino Deus">Menino Deus</option>
                    <option value="Tri Esportes">Tri Esportes</option>
                    <option value="Orla">Orla</option>
                </select>
            </div>
            <div class="form-group col-xl-2 col-12">
                <input type="text" class="form-control" name="description" placeholder="Descrição">
            </div>
            <div class="form-group col-xl-2 col-12">
                <input type="date" class="form-control" name="deliveryDate" placeholder="Data de entrega">
            </div>
            <input type="submit" class="btn btn-primary ms-auto col-xl-1 col-12 mt-1 mt-sm-0" value="Registrar">
        </form>
    </section>
    <section class="bg-light p-3 rounded-2 mt-4">
        <p>Itens Comprados</p>
        <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data de Entrega</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <% for(let item of items) { %>
                    <tr>
                        <td class="align-middle"><%= item.item %></td>
                        <td class="align-middle"><%= item.local %></td>
                        <td class="align-middle"><%= item.description %></td>
                        <td class="align-middle"><%= item.deliveryDate %></td>
                        <% if(item.delivered){ %>
                            <td class="align-middle">Entregue</td>
                        <% } else { %>
                            <td class="align-middle">Pendente</td>
                        <% } %>
                        <td class="d-flex">
                            <form action="/shopping/updatestatus" method="POST">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <input type="hidden" name="delivered" value="<%= item.delivered %>">
                                <button type="submit" class="btn"><a href=""><i class="bi bi-check2"></i></a></button>
                            </form>
                            <form action="/shopping/remove" method="POST">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <button type="submit" class="btn"><a href=""><i class="bi bi-x"></i></a></button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </section>
</div>

<%- include("includes/footer"); %>