<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="tasks">
    <p class="mb-2 p-1 border-bottom">Cadastrar</p>
    <section class="bg-light p-3 rounded-3">
        <form action="/tasks/add" method="POST" class="d-flex flex gap-2 gap-sm-3 flex-wrap">
            <div class="form-group col-xl-2 col-12">
                <input type="text" class="form-control" name="title" placeholder="Titulo da atividade">
            </div>
            <div class="form-group col-xl-2 col-12">
                <select name="priority" class="form-control" id="priority">
                    <option value="hight">Alta</option>
                    <option value="medium">Média</option>
                    <option value="low">Baixa</option>
                </select>
            </div>
            <div class="form-group col-xl-2 col-12">
                <textarea class="form-control" name="description" rows="1">Descreva a atividade</textarea>
            </div>
            <input type="submit" class="btn btn-primary ms-auto col-xl-2 col-12 mt-1 mt-sm-0" value="Registrar">
        </form>
    </section>
    <section class="d-flex flex-wrap gap-2 p-3 mt-3 bg-light rounded-1">
            <div class="d-flex flex-column bg-primary w-100 col-12 col-xl rounded-1 p-2">
                <div class="d-flex justify-content-between mb-3 w-100">
                    <div class="d-flex gap-1">
                        <p class="h5 text-white">Alta Prioridade</p>
                        <span class="text-danger"><i class="bi bi-bookmark-fill"></i></span>
                    </div>
                    <span class="p-1 px-2 bg-white rounded-1"><%= taskHight %></span>
                </div>
                <ul class="m-0 p-0 bg-light rounded-1">
                    <% for(let task of tasks) { %>
                        <% if(task.priority === 'hight'){ %>
                            <li class="d-flex align-items-center justify-content-between px-2 border-bottom">
                                <a class="text-decoration-none" href=""><%= task.title %></a>   
                                <div class="d-flex flex-direction-row">
                                    <form action="/tasks/updatestatus" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <input type="hidden" name="done" value="<%= task.done %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-check2"></i></a></button>
                                    </form>
                                    <form action="/tasks/remove" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-x"></i></a></button>
                                    </form>
                                    <a href="/tasks/edit/<%= task.id %>" class="btn"><i class="bi bi-pen"></i></a>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="d-flex flex-column bg-primary w-100 col-12 col-xl rounded-1 p-2">
                <div class="d-flex justify-content-between mb-3 w-100">
                    <div class="d-flex gap-1">
                        <p class="h5 text-white">Média Prioridade</p>
                        <span class="text-warning"><i class="bi bi-bookmark-fill"></i></span>
                    </div>
                    <span class="p-1 px-2 bg-white rounded-1"><%= taskMedium %></span>
                </div>
                <ul class="m-0 p-0 bg-light rounded-top-2">
                    <% for(let task of tasks) { %>
                        <% if(task.priority === 'medium'){ %>
                            <li class="d-flex align-items-center justify-content-between px-2 border-bottom">
                                <a class="text-decoration-none" href=""><%= task.title %></a>
                                <div class="d-flex flex-direction-row">
                                    <form action="/tasks/updatestatus" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <input type="hidden" name="done" value="<%= task.done %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-check2"></i></a></button>
                                    </form>
                                    <form action="/tasks/remove" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-x"></i></a></button>
                                    </form>
                                    <a href="/tasks/edit/<%= task.id %>" class="btn"><i class="bi bi-pen"></i></a>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="d-flex flex-column bg-primary w-100 col-12 col-xl rounded-1 p-2">
                <div class="d-flex justify-content-between mb-3 w-100">
                    <div class="d-flex gap-1">
                        <p class="h5 text-white">Baixa Prioridade</p>
                        <span class="text-success"><i class="bi bi-bookmark-fill"></i></span>
                    </div>
                    <span class="p-1 px-2 bg-white rounded-1"><%= taskLow %></span>
                </div>
                <ul class="m-0 p-0 bg-light rounded-1">
                    <% for(let task of tasks) { %>
                        <% if(task.priority === 'low'){ %>
                            <li class="d-flex align-items-center justify-content-between px-2 border-bottom">
                                <a class="text-decoration-none" href=""><%= task.title %></a>
                                <div class="d-flex flex-direction-row">
                                    <form action="/tasks/updatestatus" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <input type="hidden" name="done" value="<%= task.done %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-check2"></i></a></button>
                                    </form>
                                    <form action="/tasks/remove" method="POST">
                                        <input type="hidden" name="id" value="<%= task.id %>">
                                        <button type="submit" class="btn"><a href=""><i class="bi bi-x"></i></a></button>
                                    </form>
                                    <a href="/tasks/edit/<%= task.id %>" class="btn"><i class="bi bi-pen"></i></a>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
    </section>
</div>

<%- include("includes/footer"); %>